/*-------------Componente pais--------------*/
.cardPaisDetails{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 4px solid var(--accent);
    border-radius: 5px;
    height: fit-content;
    width: 32rem;
}

/*---------header---------*/
.header-details{
    border-bottom: 4px solid var(--accent);
    height: fit-content;
    display: flex;
}
.header-details h2{
    margin: 0.5rem auto;
    text-align: center;
}

/*---------bandera----------*/
.container-banderaDetails{
    margin: 1rem auto;
}
.banderaDetails{
    width: 30rem;
}

/*------main------------*/
.container-infoDetails{
    display: flex;
}
.container-escudo{
    width: 16rem;
    height: 16rem;
    display: flex;
}
.escudo{
    width: 15rem;
    height: 16rem;
    margin: auto;
}
#sinEscudo{
    margin: auto;
    font-weight: bold;
}
.container-info{
    margin-bottom: 1rem;
}
.container-infoDetails .container-info p{
    color: var(--text);
    margin: 0.5rem;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container-infoDetails article p span{
    margin-right: 0.5rem;
    color: var(--details-color);
    font-weight: bold;
}

.divisor {
    border-right: 2px solid var(--accent);
}