@import './css/variables.css';
@import './css/colors.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 62.5%;
}
#app{
  font-size: var(--body-text);
  /* background-color: #0D121B; */
  background-color: var(--bg);
  width: 100vw;
  height: fit-content;
}
header{
  display: flex;
}
header * {
  margin: 2rem auto;
  color: var(--text);
}

/*------interfaz de paises------------*/
.interfazPaises-Container{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 17rem);
  gap: 1.5rem;
  justify-items: center;
  place-content: center;
  transition: all 1s linear;
}

.cargando{
  height: 100vh;
}
.spinner{
  border: 6px solid var(--fondo-spinner);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border-left-color: var(--spin);
  animation: spin 1s ease-in-out infinite;
  transition: all 1s linear;
  display: block;
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.visuallyhidden {
  opacity: 0;
}


/*---------------details Paises*/

.detailsPaises-Container{
  display: none;
}

.detailsPaises-Container .spinner{
  margin: auto;
}

/*------------------------------*/

@media (min-width: 768px) and (max-width: 992px){
  .interfazPaises-Container{
    grid-template-columns: repeat(auto-fit, 21rem);
    row-gap: 1rem;
    column-gap: 3rem;
  }
}

@media (min-width: 993px) and (max-width: 1199px){
  .interfazPaises-Container{
    grid-template-columns: repeat(auto-fit, 31rem);
    row-gap: 1rem;
    column-gap: 3rem;
  }
}
@media (min-width: 1200px){
  .interfazPaises-Container{
    grid-template-columns: repeat(auto-fit, 31rem);
    row-gap: 1rem;
    column-gap: 3rem;
  }
}

